<div class="container">
    <h2>Getting Started with Angular </h2>
    <p>Congratulations on starting your Angular journey! Angular is a powerful platform for building web applications. This application demonstrates the core features of Angular with a responsive design.</p>
    <br>
    <h3>Angular Setup Guide</h3>

    <section class="topic">
        <h4>1. Install Prerequisites</h4>
        <p>Before creating an Angular project, you need to install:</p>
        <li> <b> NVM for Windows </b>  https://github.com/coreybutler/nvm-windows</li>
        <li> <b> Node.js </b> (version 18 or later) - Includes npm or better</li>
        <li> <b> npm </b>(Node Package Manager) or <b>yarn</b></li>
        <li> <b> typeScript </b> npm install typescript --save-dev <b>https://www.typescriptlang.org/download/</b></li>
    </section>

    <section class="topic">
        <h4>3. Install Angular CLI</h4>
        <p>Open your terminal and run:</p>
        <div class="code">
            <p>npm install -g&#64;angular/cli</p>
        </div>
        <p>Open your terminal and run:</p>
        <div class="code">
            <p>ng --version</p>
        </div>
    </section>

    <section class="topic">
        <h4>4. Create a New Project</h4>
        <p>Generate your Angular application with:</p>
        <div class="code">
            <p>ng new my-angular-app</p>
        </div>
    </section>

    <section class="topic">
        <h4>5. Run the Application</h4>
        <p>Navigate to your project folder and start the server:</p>
        <div class="code">
            <p>cd my-angular-app <br>
            ng serve --open</p>
        </div>
        <p>Your app will automatically open in your default browser at</p>
        <div class="code">
            <p>http://localhost:4200/</p>
        </div>
    </section>

</div>
 
