<div class="container">
  <h2>Exemplo de Observable no Angular</h2>
  <p>Este exemplo demonstra como trabalhar com Observable no Angular, incluindo tratamento de erros com a sintaxe
    </p>
  <br>

  <section class="topic">
    <h4>Demonstração do Observable</h4>
    <p>Clique no botão para simular uma requisição assíncrona:</p>
    <div class="demo-area">
      <button class="demo-button" (click)="loadData()">Load Observable</button>
      @if (this.localLoad) {
      <div class="loading-indicator">
        <div class="spinner">
        </div>
        <span>Loading...</span>
      </div>
      }
      @if (localMessage) {
      <div class="success-message">
        <i class="icon">✗</i>
      </div>
      {{ localMessage }}
      }
      @if (localError) {
      <div class="error-message">
        <i class="icon">✓</i>
      </div>
      {{ localError }}
      }
    </div>
  </section>

  <section class="topic">
    <h4>Demonstração de Observable com operador Of()</h4>
    <p>Clique no botão para simular uma requisição assíncrona:</p>
    <div class="demo-area">
      <button class="demo-button" (click)="loadDataRxJs()">Load Observable Using Of()</button>
      @if (this.localLoad) {
      <div class="loading-indicator">
        <div class="spinner">
        </div>
        <span>Loading...</span>
      </div>
      }
      @if (localMessage) {
      <div class="success-message">
        <i class="icon">✗</i>
      </div>
      {{ localMessage }}
      }
      @if (localError) {
      <div class="error-message">
        <i class="icon">✓</i>
      </div>
      {{ localError }}
      }
    </div>

  </section>
</div>
