<div class="header">
  <h1>Angular Class Level 03 </h1>
  <p class="subtitle">
    {{"fundamentals of parent-child data sharing in angular." | upcaseFirstWord }}
  </p>
</div>
<div class="card right-align">
  <button class="home-button" routerLink="/">Go Back to Home</button>
</div>
<section class="container-guide">
  <div class="content-wrap">
    <section class="topic">
      <h2>{{"Share data between components" | upcaseFirstWord }}</h2>
    </section>
    <article>
      <section class="topic">
        <h2> name: string = input.required {{"<"}}string{{">"}}() </h2>
      </section>

      <section class="topic">
        <h2>eventAnswer = output {{"<"}}string{{">"}}()</h2>

      </section>


      <section class="footer">
        <h3>Angular Fundamentals</h3>
      </section>
    </article>
  </div>
</section>

