<div class="container">
  <h2>Pipes</h2>
  <p>Os Pipes no Angular são utilitários que permitem formatar ou transformar dados diretamente nos templates de maneira
    declarativa. Eles são usados para modificar a exibição de valores sem alterar os dados originais no componente.</p>
  <p>Principais Características dos Pipes
    ✔ Transformação de dados: Convertem números, datas, strings, JSON e outros formatos.
    ✔ Uso em templates: Aplicados com o operador | (pipe).
    ✔ Encadeamento: Vários pipes podem ser usados juntos (ex: {{"{{ valor | pipe1 | pipe2 }}"}}).
    ✔ Puros e impuros: Controlam quando a transformação é recalculada (performance).</p>
  <h2>Regex</h2>
  <h4>Site de Referência: <a href="https://regex-generator.olafneumann.org/" target="_blank">Regex-generator</a></h4>
  <p>Regex (ou Expressões Regulares) é uma sequência de caracteres que define um padrão de busca em textos. É uma
    ferramenta poderosa para validar, extrair, substituir ou manipular strings de forma eficiente.</p>
  <h4>O que Regex faz?
    Busca Encontra trechos de texto que seguem um padrão específico.</h4>
  <h4>Validação  Verifica se uma string corresponde a um formato (ex.: e-mail, NIF, senha).</h4>
  <h4>Substituição  Altera partes do texto com base em regras definidas.</h4>
  <h4>Extração  Separa dados estruturados de um bloco de texto.</h4>
  <div class="user-list">
    <div class="user-card">
      <div class="user-info">
        <section class="topic">
          <p>1. Pipes Built-in (Integrados)
          </p>
          <h4> O Angular já inclui pipes prontos para casos comuns:</h4>
          <h4> Preço: {{ this.price | currency:"EUR"}}</h4>
          <h4> Data: {{ this.totay | date:'dd/MM/yyyy'}}</h4>
          <h4>Texto Caixa Alta: {{ text | uppercase }}</h4>
        </section>

      </div>
    </div>
    <div class="user-card">
      <div class="user-info">
        <section class="topic">
          <p>2. Pipes Personalizados
          </p>
          <h4> O Desenvolvedor pode criar seus Pipes:</h4>
          <h4> {{"este é o exemplo do nosso pipe upcaseFirstWord" | upcaseFirstWord }}</h4>

        </section>

      </div>
    </div>
  </div>
</div>
