<div class="container">
  <h2>Pipes</h2>
  <p>Os Pipes no Angular são utilitários que permitem formatar ou transformar dados diretamente nos templates de maneira
    declarativa. Eles são usados para modificar a exibição de valores sem alterar os dados originais no componente.</p>
  <p>Principais Características dos Pipes
    ✔ Transformação de dados: Convertem números, datas, strings, JSON e outros formatos.
    ✔ Uso em templates: Aplicados com o operador | (pipe).
    ✔ Encadeamento: Vários pipes podem ser usados juntos (ex: {{"{{ valor | pipe1 | pipe2 }}"}}).
    ✔ Puros e impuros: Controlam quando a transformação é recalculada (performance).</p>
  <div class="user-list">
    <div class="user-card">
      <div class="user-info">
        <section class="topic">
          <p>1. Pipes Built-in (Integrados)
          </p>
          <h4> O Angular já inclui pipes prontos para casos comuns:</h4>
          <h4></h4>
        </section>

      </div>
    </div>
  </div>
</div>
