<div class="header">
  <h1>Rule 2: Don’t Use the ELSE Keyword</h1>
  <p class="subtitle">Prefer early returns to simplify logic</p>
</div>
<div class="card right-align">
  <button class="home-button" routerLink="/">Go Back to Home</button>
  <button class="home-button-pdf" (click)="downloadPDF()">📄 Download PDF</button>
</div>
<section class="container-guide" #pdfContent>
  <div class="content-wrap">
    <article>
      <p>
        Em Angular, componentes limpos evitam `else`. Ao retornar antecipadamente, a lógica fica mais direta e testável.
      </p>
      <h2>Exemplo no Angular</h2>
      <p>Evite:</p>
      <div class="code">
        <code>
          if (this.hasPermission) {{"{"}}<br>
          &nbsp;&nbsp;this.loadData();<br>
          {{"}"}} else {{"{"}}<br>
          &nbsp;&nbsp;this.redirect();<br>
          {{"}"}}
        </code>
      </div>
      <p>Prefira:</p>
      <div class="code">
        <code>
          if (!this.hasPermission) return this.redirect();<br>
          this.loadData();
        </code>
      </div>
    </article>
  </div>
</section>

