<header class="header">
  <div class="local-header">
    <div class="local-header-content">
      <h1>Welcome to the Angular Trainer</h1>
      <p>Be ready to be more than just a student</p>
    </div>

    <nav class="nav-content">

      <div class="nav-item has-expandable">
        <a class="logo-link">Start Hit</a>
        <div class="submenu">
          <a routerLink="/angular/hit/home" class="submenu-link">Home</a>
          <a routerLink="/angular/hit/project"  class="submenu-link">Project</a>
        </div>
      </div>

      <div class="nav-item has-expandable">
        <a class="logo-link">Angular</a>
        <div class="submenu">
          <a routerLink="/angular" class="submenu-link">Angular</a>
          <a routerLink="/angular/git"  class="submenu-link">Git</a>
        </div>
      </div>

      <div class="nav-item has-expandable">
        <a class="logo-link">Nívelamento</a>
        <div class="submenu">
          <a routerLink="/angular/levels/levelone" class="submenu-link">Nivelamento 1</a>
          <a routerLink="/angular/levels/leveltwo"  class="submenu-link">Nivelamento 2</a>
          <a routerLink="/angular/levels/levelthree"  class="submenu-link">Nivelamento 3</a>
          <a routerLink="/angular/levels/levelfour"  class="submenu-link">Nivelamento 4</a>
        </div>
      </div>

      <div class="nav-item has-expandable">
        <a class="logo-link">APIs</a>
        <div class="submenu">
          <a routerLink="" class="submenu-link">Weather Channel</a>
          <a routerLink=""  class="submenu-link">Reqres</a>
        </div>
      </div>

      <div class="nav-item has-expandable">
        <a class="logo-link">Solid</a>
        <div class="submenu">
          <a routerLink="angular/solid/srp" class="submenu-link">Single Responsibility Principle</a>
          <a routerLink="angular/solid/ocp"  class="submenu-link">Open and Closed Principle</a>
          <a routerLink="angular/solid/lsp"  class="submenu-link">Liskov Substitution Principle</a>
          <a routerLink="angular/solid/isp"  class="submenu-link">Interface Segregation Principle</a>
          <a routerLink="angular/solid/dip"  class="submenu-link">Dependency Inversion Principle</a>
        </div>
      </div>

    </nav>
  </div>
</header>
