<header class="header">
  <div class="local-header">
    <div class="local-header-content">
      <h1>Welcome to the Angular Trainer</h1>
      <p>Be ready to be more than just a student</p>
    </div>

    <nav class="nav-content">

    <div class="nav-item has-expandable">
        <a routerLink="/hit/starting" class="logo-link">Start Hit</a>
        <div class="submenu">
          <a routerLink="/hit" class="submenu-link">Home</a>
          <a routerLink="/hit/project"  class="submenu-link">Project</a>
        </div>
    </div>

      <div class="nav-item">
        <a routerLink="/hit" class="logo-link">Angular</a>
      </div>

      <div class="nav-item has-expandable">
        <a routerLink="/hit/levels" class="logo-link">Nívelamento</a>
        <div class="submenu">
          <a routerLink="/hit/levelone" class="submenu-link">Nivelamento 1</a>
          <a routerLink="/hit/leveltwo"  class="submenu-link">Nivelamento 2</a>
        </div>
      </div>
    </nav>
  </div>
</header>
