<header class="header">
  <div class="local-header">
    <div class="local-header-content-left"></div>
    <div class="local-header-content">
      <h1>Welcome to the Angular Trainer.</h1>
      <p>Be ready to be more than just a student!</p>
    </div>
    <!-- Componente avatar -->
    <div class="local-header-content-right">
      @if (this.authGmailService.isAuthenticated()) {
      <app-avatar></app-avatar>
      }
    </div>
  </div>


  @if (this.authGmailService.isAuthenticated()) {
  <nav class="nav-content">

    <div class="nav-item has-expandable">
      <a class="logo-link">{{"dry? solid? calisthenics?" | upcaseFirstWord }}</a>
      <div class="submenu">
        <div class="submenu-block">
          <a class="logo-link">What is Dry?</a>
          <div class="submenu-sub">
            <a routerLink="/e-book/angular/dry" class="submenu-link">Dry</a>
          </div>
        </div>
        <div class="submenu-block">
          <a routerLink="/angular/solid" class="logo-link">What is Solid?</a>
          <div class="submenu-sub">
            <a routerLink="/e-book/angular/solid/srp" class="submenu-link">Single Responsibility Principle</a>
            <a routerLink="/e-book/angular/solid/ocp" class="submenu-link">Open and Closed Principle</a>
            <a routerLink="/e-book/angular/solid/lsp" class="submenu-link">Liskov Substitution Principle</a>
            <a routerLink="/e-book/angular/solid/isp" class="submenu-link">Interface Segregation Principle</a>
            <a routerLink="/e-book/angular/solid/dip" class="submenu-link">Dependency Inversion Principle</a>
          </div>
        </div>

        <div class="submenu-block">
          <a routerLink="/e-book/angular/object-calisthenics" class="logo-link">What is Object Calisthenics?</a>
          <div class="submenu-sub">
            <a routerLink="/e-book/angular/object-calisthenics/rule1" class="submenu-link">Rule 1: Only One Level of
              Indentation</a>
            <a routerLink="/e-book/angular/object-calisthenics/rule2" class="submenu-link">Rule 2: Don't Use the ELSE
              Keyword</a>
            <a routerLink="/e-book/angular/object-calisthenics/rule3" class="submenu-link">Rule 3: Wrap All Primitives
              and
              Strings</a>
            <a routerLink="/e-book/angular/object-calisthenics/rule4" class="submenu-link">Rule 4: First Class
              Collections</a>
            <a routerLink="/e-book/angular/object-calisthenics/rule5" class="submenu-link">Rule 5: One Dot per Line</a>
            <a routerLink="/e-book/angular/object-calisthenics/rule6" class="submenu-link">Rule 6: Don't Abbreviate</a>
            <a routerLink="/e-book/angular/object-calisthenics/rule7" class="submenu-link">Rule 7: Keep All Entities
              Small</a>
            <a routerLink="/e-book/angular/object-calisthenics/rule8" class="submenu-link">Rule 8: No Classes with More
              Than
              Two Instance Variables</a>
            <a routerLink="/e-book/angular/object-calisthenics/rule9" class="submenu-link">Rule 9: No
              Getters/Setters/Properties</a>
          </div>
        </div>
      </div>

    </div>
    <div class="nav-item has-expandable">
      <a class="logo-link">{{"Starting at foundation" | upcaseFirstWord}}</a>
      <div class="submenu">
        <div class="submenu-block">
          <a routerLink="/e-book/angular/js-foundation" class="logo-link">Js Foundation</a>
          <div class="submenu-sub">
            <a routerLink="/e-book/angular/js-foundation/js-fundamentals" class="submenu-link">Js Fundamentals</a>
            <a routerLink="/e-book/angular/js-foundation/functions-and-scope" class="submenu-link">Js Functions &
              Scope</a>
            <a routerLink="/e-book/angular/js-foundation/object-and-arrays" class="submenu-link">Js Object & Arrays</a>
            <a routerLink="/e-book/angular/js-foundation/object-oriented-programming" class="submenu-link">Js
              Object-Oriented
              Programming</a>
            <a routerLink="/e-book/angular/js-foundation/modules-and-imports" class="submenu-link">Js Modules & Imports
              on Js
              and TypeScript</a>
            <a routerLink="/e-book/angular/js-foundation/js-asynchronous-programming" class="submenu-link">Js
              Asynchronous
              With Observables</a>
            <a routerLink="/e-book/angular/js-foundation/template-literal" class="submenu-link">Js Template Literal
            </a>
            <a routerLink="/e-book/angular/js-foundation/type-script-essentials" class="submenu-link">Js TypeScript
              Essentials</a>
          </div>
        </div>

        <div class="submenu-block">
          <a routerLink="/e-book/angular/rxJs-foundation" class="logo-link">RxJs Foundation</a>
          <div class="submenu-sub">
            <a routerLink="/e-book/angular/rxJs-foundation/pipe" class="submenu-link">Pipe</a>
            <a routerLink="/e-book/angular/rxJs-foundation/take" class="submenu-link">Take</a>
            <a routerLink="/e-book/angular/rxJs-foundation/from" class="submenu-link">From</a>
            <a routerLink="/e-book/angular/rxJs-foundation/of" class="submenu-link">Of</a>
            <a routerLink="/e-book/angular/rxJs-foundation/map" class="submenu-link">Map</a>
            <a routerLink="/e-book/angular/rxJs-foundation/filter" class="submenu-link">Filter</a>
            <a routerLink="/e-book/angular/rxJs-foundation/tap" class="submenu-link">Tap</a>
            <a routerLink="/e-book/angular/rxJs-foundation/find" class="submenu-link">Find</a>
            <a routerLink="/e-book/angular/rxJs-foundation/switchMap" class="submenu-link">SwitchMap</a>
            <a routerLink="/e-book/angular/rxJs-foundation/concatMap" class="submenu-link">ConcatMap</a>
            <a routerLink="/e-book/angular/rxJs-foundation/mergeMap" class="submenu-link">MergeMap</a>
            <a routerLink="/e-book/angular/rxJs-foundation/catchError" class="submenu-link">CatchError</a>
          </div>
        </div>

      </div>
    </div>
    <div class="nav-item has-expandable">
      <a class="logo-link">{{"angular foundation" | upcaseFirstWord}}</a>
      <div class="submenu">
        <div class="submenu-block">
          <a class="logo-link">Angular Level 01</a>
          <div class="submenu-sub">
            <a routerLink="/e-book/angular/levels/levelone/directives" class="submenu-link">Directives</a>
            <a routerLink="/e-book/angular/levels/levelone/template-events" class="submenu-link">Template Events</a>
            <a routerLink="/e-book/angular/levels/levelone/operators" class="submenu-link">Operators</a>
            <a routerLink="/e-book/angular/levels/levelone/pipes" class="submenu-link">Pipes</a>
            <a routerLink="/e-book/angular/levels/levelone/dependency-injection" class="submenu-link">Dependency
              Injection</a>
            <a routerLink="/e-book/angular/levels/levelone/routing" class="submenu-link">Routing</a>

          </div>
        </div>

        <div class="submenu-block">
          <a class="logo-link">Angular Level 02</a>
          <div class="submenu-sub">
            <a routerLink="/e-book/angular/levels/leveltwo/binding-types" class="submenu-link">Binding and Types</a>
            <a routerLink="/e-book/angular/levels/leveltwo/destructuring" class="submenu-link">Destructuring</a>
            <a routerLink="/e-book/angular/levels/leveltwo/spread" class="submenu-link">Spread</a>
            <a routerLink="/e-book/angular/levels/leveltwo/data-sharing" class="submenu-link">Data Sharing</a>


          </div>
        </div>
        <div class="submenu-block">
          <a class="logo-link">Angular Level 03</a>
          <div class="submenu-sub">
            <a routerLink="/e-book/angular/levels/levelthree/observables" class="submenu-link">Observables</a>
            <a routerLink="/e-book/angular/levels/levelthree/promise" class="submenu-link">Promise</a>
            <a routerLink="/e-book/angular/levels/levelthree/signal" class="submenu-link">Signal</a>

          </div>
        </div>
        <!-- <div class="submenu-block">
          <a class="logo-link">Angular Level 04</a>
          <div class="submenu-sub">


          </div>
        </div> -->

      </div>
    </div>

    <div class="nav-item has-expandable">
      <a routerLink="e-book/angular/api" class="logo-link">APIs</a>
      <div class="submenu">
        <a routerLink="e-book/angular/api/cors" class="submenu-link">Cors</a>
        <a routerLink="e-book/angular/api/http-success-200" class="submenu-link">Http Sucess 200</a>
        <a routerLink="e-book/angular/api/http-error-400" class="submenu-link">Http Error 400</a>
        <a routerLink="e-book/angular/api/http-error-500" class="submenu-link">Http Error 500</a>
        <a routerLink="e-book/angular/api/weather" class="submenu-link">Weather Channel</a>
        <a routerLink="e-book/angular/api/reqres" class="submenu-link">Reqres</a>
        <a routerLink="e-book/angular/api/json-placeholder-crud" class="submenu-link">JsonPlace-Holder-Crud </a>
      </div>
    </div>

    <div class="nav-item has-expandable">
      <a routerLink="e-book/angular/forms" class="logo-link">Forms</a>
      <div class="submenu">
        <a routerLink="e-book/angular/forms/forms&validators" class="submenu-link">Forms & Validators</a>
        <a routerLink="e-book/angular/forms/signin" class="submenu-link">SignIn</a>
        <a routerLink="/e-book/angular/forms/signup" class="submenu-link">SignUp</a>
      </div>
    </div>



  </nav>

  }@else {
  <nav class="nav-content">
    <div class="nav-item has-expandable">
      <a routerLink="/e-book/angular" class="logo-link">Angular</a>
      <div class="submenu">
        <a routerLink="/e-book/angular/get-starting" class="submenu-link">Get Starting With Angular</a>
        <a routerLink="/e-book/angular/git" class="submenu-link">Git</a>
      </div>
    </div>

    <div class="nav-item has-expandable">
      <a routerLink="/e-book/angular/firebase" class="logo-link">Firebase</a>
      <div class="submenu">
        <a routerLink="/e-book/angular/firebase/init-with-hosting" class="submenu-link">Init with Hosting</a>
        <a routerLink="/e-book/angular/firebase/authentication" class="submenu-link">Authentication</a>
      </div>
    </div>



    <div class="nav-item has-expandable">
      <a class="logo-link">Authentication</a>
      <div class="submenu">
        <a routerLink="/e-book/angular/login" class="submenu-link">SignIn</a>
      </div>
    </div>


  </nav>


  }
</header>
