<div class="header">
  <h1>Rule 7: Keep All Entities Small</h1>
  <p class="subtitle">Classes and components should do only one thing</p>
</div>
<div class="card right-align">
  <button class="home-button" routerLink="/">Go Back to Home</button>
  <button class="home-button-pdf" (click)="downloadPDF()">📄 Download PDF</button>
</div>
<section class="container-guide" #pdfContent>
  <div class="content-wrap">
    <article>
      <p>
        Componentes e serviços Angular devem ser pequenos e com propósito único. Quebre responsabilidades em partes reutilizáveis.
      </p>
      <h2>Exemplo no Angular</h2>
      <p>Evite:</p>
      <div class="code">
        <code>
          UserComponent faz tudo: form, validação, API, lista, etc.
        </code>
      </div>
      <p>Prefira:</p>
      <div class="code">
        <code>
          - UserFormComponent<br>
          - UserListComponent<br>
          - UserService
        </code>
      </div>
    </article>
  </div>
</section>

