<div class="banner">
    <p>Open/Closed Principle (OCP)</p>
</div>
<div class="container">
    <div class="topic">
        <h3>O que é o Open/Closed Principle?</h3>
        <hr>
        <div class="texto">
            <p>O OCP afirma que <b>as classes devem estar abertas para extensão, mas fechadas para modificação.</b><br>
                Isso significa que devemos poder adicionar novos comportamentos ao código sem alterar seu funcionamento interno.
            </p>
        </div>
    </div>
    <div class="topic">
        <h3>Exemplo violando o OCP</h3>
        <hr>
        <div class="texto">
            <div class="caixa-azul">
                <h4>Classe alterada a cada novo tipo</h4>
            </div>
            <div class="code">
                <pre><code>
    class DescontoService &#123;
        calcular(tipo) &#123;
            if (tipo === 'cliente') return 10;
            if (tipo === 'vip') return 20;
            if (tipo === 'premium') return 30;
        &#125;
    &#125;
                </code></pre>
            </div>
            <p>Qualquer novo tipo exige modificação direta da classe.</p>
        </div>
    </div>
    <div class="topic">
        <h3>Aplicando o OCP</h3>
        <hr>
        <div class="texto">
            <div class="caixa-azul">
                <h4>Uso de polimorfismo e extensão</h4>
            </div>
            <div class="code">
                <pre><code>
    interface Desconto &#123;
    getValor(): number;
    &#125;

    class DescontoVip implements Desconto &#123;
    getValor() &#123; return 20; &#125;
    &#125;

    class DescontoPremium implements Desconto &#123;
    getValor() &#123; return 30; &#125;
    &#125;
                </code></pre>
            </div>
            <p>Agora, adicionamos novos tipos sem modificar os anteriores.</p>
        </div>
    </div>
    <div class="topic">
        <h3>Resumo Técnico</h3>
        <hr>
        <div class="texto">
            <li>✅ O código é mais estável e flexível.</li>
            <li>✅ Evita alterações em código já testado.</li>
            <li>✅ Favorece a extensão através de herança ou interfaces.</li>
        </div>
    </div>
</div>
