
<header class="header">
  <h1>Open/Closed Principle (OCP)</h1>
</header>
<div class="card right-align">
  <button class="home-button" routerLink="/">Go Back to Home</button>
</div>

<section class="container-guide">
  <div class="content-wrap">
        <h2>O que é o Open/Closed Principle?</h2>
        <hr>
        <p>O OCP afirma que <b>as classes devem estar abertas para extensão, mas fechadas para modificação.</b><br>
                Isso significa que devemos poder adicionar novos comportamentos ao código sem alterar seu funcionamento interno.
        </p>

        <h2>Exemplo violando o OCP</h2>
        <hr>
        <h4>Classe alterada a cada novo tipo</h4>

        <pre><code>
    class DescontoService &#123;
        calcular(tipo) &#123;
            if (tipo === 'cliente') return 10;
            if (tipo === 'vip') return 20;
            if (tipo === 'premium') return 30;
        &#125;
    &#125;
        </code></pre>
        <p>Qualquer novo tipo exige modificação direta da classe.</p>

        <h2>Aplicando o OCP</h2>
        <hr>
        <h4>Uso de polimorfismo e extensão</h4>

        <pre><code>
    interface Desconto &#123;
    getValor(): number;
    &#125;

    class DescontoVip implements Desconto &#123;
    getValor() &#123; return 20; &#125;
    &#125;

    class DescontoPremium implements Desconto &#123;
    getValor() &#123; return 30; &#125;
    &#125;
        </code></pre>
        <p>Agora, adicionamos novos tipos sem modificar os anteriores.</p>


        <h2>Resumo Técnico</h2>
        <hr>
        <ul>
            <li>✅ O código é mais estável e flexível.</li>
            <li>✅ Evita alterações em código já testado.</li>
            <li>✅ Favorece a extensão através de herança ou interfaces.</li>
        </ul>
</div>
</section>
