/*reset styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




body {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--background-color-code);  
    line-height: 1.6;
 
}

app-header {
    width: 100%;
    min-height: 110px;
}

app-main {

 flex: 1;
 min-height: 75vh;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 align-content: center;
 background-color: var(--background-color);

}

app-footer {

    width: 100%;
    min-height: 50px;
    height: max-content;
}


@media(max-width:768px) {
    main {
        justify-content: center;
        padding: 0.5rem;
        min-height: 60vh;
    }
}

@media(max-width:480px) {
   body{
    line-height: 1.5;
   }

    main {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        min-height: 60vh;
        padding: 0.5rem;

    }


}