<div class="container">
  <h2>Exemplo de Promise no Angular</h2>
  <p>Este exemplo demonstra como trabalhar com Promises no Angular, incluindo tratamento de erros com a sintaxe
    async/await.</p>
  <br>

  <section class="topic">
    <h4>Demonstração de Promise Usando Then e Catch</h4>
    <p>Clique no botão para simular uma requisição assíncrona:</p>
     




  </section>

  <section class="topic">
    <h4>Demonstração de Promise Usando Async & Await</h4>
    <p>Clique no botão para simular uma requisição assíncrona com Async & Await:</p>


  </section>
</div>
