<div class="container">
  <h2>Exemplo de Observable no Angular Pipe Async</h2>
  <p>Este exemplo demonstra como trabalhar com Observable no Angular Usando Pipe Async como UnSubscription
  </p>
  <br>

  @if (this.localObservable$| async; as data) {
  <section class="topic">
    <h4>Demonstração | Async</h4>
    <p>Clique no botão para simular uma requisição assíncrona:</p>
    <div class="demo-area">
      <p>Emitindo Valor:</p>
      @if (!data) {
      <div class="loading-indicator">
        <div class="spinner">
        </div>
        <span>Loading...</span>
      </div>
      }
      @if (data) {
      <div class="success-message">
        <div class="icon">
        </div>
        <span>{{ data }}</span>
      </div>
      }
      @if (localError) {
      <div class="error-message">
        <i class="icon">✓</i>
      </div>
      {{ localError }}
      }
    </div>
  </section>

  <section class="topic">
    <h4>Demonstração Pipe Async</h4>
    <p>Clique no botão para simular adição a requisição assíncrona:</p>
    <div class="demo-area">
      <button class="demo-button" (click)="updateObs()">AddCounter</button>
      <button class="demo-button" (click)="resetObs()">ResetCounter</button>

    </div>

  </section>
  }
</div>
