<div class="container">
  <h1>Exemplos de Angular Level 01</h1>
  <section class="topic">
    <h2>Estruturas de Controle (If, For, Ternário). </h2>
    <!-- Tag app-control-structures -->
     <app-control-structures></app-control-structures>
  </section>
  <section class="topic">
    <h2>Operadore (??, !!, ?) </h2>
    <!-- Tag app-operators -->
     <app-operators></app-operators>


  </section>
  <section class="topic">
    <h2>Injeção de Dependência </h2>
    <!-- Tag app-dependency-injection -->
     <app-dependency-injection></app-dependency-injection>

  </section>
</div>
