.container {
    width: 80vw;
      padding: 2rem;
      background: var(--background-color);
      color: var(--text-color);
      font-family: var(--main-font-family);
      line-height: var(--main-line-height);
      border-radius: var(--border-radius);
      /* max-width: 900px; */
      margin: auto;
    }

    h1 {
      text-align: center;
      color: var(--primary-color);
      margin-bottom: 2rem;
    }

    .topic {
      background: var(--background-color-sections);
      margin-bottom: 1rem;
      padding: 1rem;
      border-radius: var(--border-radius);
      box-shadow: var(--shadow);
      transition: var(--transition);
    }

    .topic:hover {
      box-shadow: var(--shadow-hover);
    }

    h2 {
      color: var(--secondary-color);
    }
