<div class="container">
  <h1>Exemplos de Assíncronos Level 03</h1>
  <section class="topic">
    <h2>Promise  .then(res =>) </h2>
    <!-- Promise -->
     <app-promises></app-promises>
  </section>
  <section class="topic">
    <h2>Observable.Subscribe( => {{'{'}}next, error, complete{{'}'}}) </h2>
    <!-- Observable -->
    <app-observables></app-observables>
  </section>
  <section class="topic">
    <h2>Observable com Pipe Async </h2>
    <!-- Pipe Async -->
    <app-observable02></app-observable02>
  </section>
  <section class="topic">
    <h2>Signal()</h2>
    <!-- Signal -->
    <app-signal></app-signal>

  </section>
</div>
