<div class="container">
  <h1>Exemplos de Assíncronos Level 02</h1>
  <section class="topic">
    <h2>Promise => then. </h2>
    <!-- Tag app-control-structures -->
     <app-promises></app-promises>
  </section>
  <section class="topic">
    <h2>Observable => Subscribe </h2>
    <!-- Tag app-operators -->
    <app-observables></app-observables>


  </section>
  <section class="topic">
    <h2>Signal()</h2>
    <!-- Tag app-dependency-injection -->
    <app-signal></app-signal>

  </section>
</div>
