<div class="container">
  <h2>Destructuring</h2>
  <p>A desestruturação (destructuring) é uma sintaxe que permite extrair valores de objetos
    ou arrays de forma mais concisa.</p>
  <div class="user-list">
    <div class="user-card">
      <div class="user-info">
        <section class="topic">
          <p>Desestruturação com nome iquais</p>
          <h4>{{ this.nome}}</h4>
          <h4>{{ this.idade}}</h4>
        </section>
        <section class="topic">
          <p>Desestruturação com valor padrão</p>
          <h4>{{ this.apelido}}</h4>
          <h4>{{ this.email}}</h4>
        </section>
        <section class="topic">
          <p>Desestruturação Arrays</p>
          <h4>{{ this.primeiro}}</h4>
          <h4>{{ this.segundo}}</h4>
        </section>
      </div>
    </div>
  </div>
</div>
