
<header class="header">
  <h1>Interface Segregation Principle (ISP)</h1>
</header>

<section class="container-guide">
  <div class="content-wrap">
        <h2>O que é o Interface Segregation Principle?</h2>
        <hr>
        <p>O ISP afirma que <b> classe deve ser forçada a depender de métodos que não utiliza.</b><br>
            Interfaces devem ser específicas para seus clientes.
        </p>

        <h2>Exemplo violando o ISP</h2>
        <hr>
        <h4>Interface genérica demais</h4>


        <pre><code>
     interface Funcionario &#123;
        trabalhar(): void;
        gerenciar(): void;
    &#125;

    class Desenvolvedor implements Funcionario &#123;
        trabalhar() &#123; ... &#125;
        gerenciar() &#123; throw "Não gerencio"; &#125;
    &#125;
        </code></pre>
        <p>O desenvolvedor é forçado a implementar métodos que não fazem sentido para ele.</p>


        <h2>Aplicando o ISP</h2>
        <hr>

        <h4>Interfaces separadas por função</h4>
        <pre><code>
    interface Trabalhador &#123; trabalhar(): void; &#125;
    interface Gerente &#123; gerenciar(): void; &#125;

    class Desenvolvedor implements Trabalhador &#123;
        trabalhar() &#123; ... &#125;
    &#125;

    class Coordenador implements Trabalhador, Gerente &#123;
        trabalhar() &#123; ... &#125;
        gerenciar() &#123; ... &#125;
    &#125;
        </code></pre>


        <h2>Resumo Técnico</h2>
        <hr>
        <ul>
            <li>✅ Interfaces específicas evitam implementações inúteis.</li>
            <li>✅ Cada classe implementa apenas o que de fato usa.</li>
            <li>✅ Favorece código limpo e coeso.</li>
        </ul>
</div>
</section>
