<div class="header">
  <h1>Rule 6: Don’t Abbreviate</h1>
  <p class="subtitle">Use descriptive and meaningful names</p>
</div>
<div class="card right-align">
  <button class="home-button" routerLink="/">Go Back to Home</button>
  <button class="home-button-pdf" (click)="downloadPDF()">📄 Download PDF</button>
</div>
<section class="container-guide" #pdfContent>
  <div class="content-wrap">
    <article>
      <p>
        Em Angular, variáveis e métodos devem ter nomes claros. Abreviações causam confusão, especialmente em projetos maiores.
      </p>
      <h2>Exemplo no Angular</h2>
      <p>Evite:</p>
      <div class="code">
        <code>
          const usr = this.auth.getUsr();
        </code>
      </div>
      <p>Prefira:</p>
      <div class="code">
        <code>
          const user = this.authService.getUser();
        </code>
      </div>
    </article>
  </div>
</section>

