<div class="header">
  <h1>Rule 3: Wrap All Primitives and Strings</h1>
  <p class="subtitle">Avoid primitive obsession using strong types</p>
</div>
<div class="card right-align">
  <button class="home-button" routerLink="/">Go Back to Home</button>
  <button class="home-button-pdf" (click)="downloadPDF()">📄 Download PDF</button>
</div>
<section class="container-guide" #pdfContent>
  <div class="content-wrap">
    <article>
      <p>
        No Angular, evite passar strings ou números diretamente entre serviços/componentes. Use interfaces ou classes para encapsular dados.
      </p>
      <h2>Exemplo no Angular</h2>
      <p>Evite:</p>
      <div class="code">
        <code>
          {{"login(user: string, pass: string) {...}"}}
        </code>
      </div>
      <p>Prefira:</p>
      <div class="code">
        <code>
          interface Credentials {{"{"}}<br>
          &nbsp;&nbsp;username: string;<br>
          &nbsp;&nbsp;password: string;<br>
          {{"}"}}<br>
          login(credentials: Credentials) {{"{"}}...{{"}"}}
        </code>
      </div>
    </article>
  </div>
</section>

