<div class="header">
  <h1>Rule 4: First Class Collections</h1>
  <p class="subtitle">Collections should be encapsulated in their own classes</p>
</div>
<div class="card right-align">
  <button class="home-button" routerLink="/">Go Back to Home</button>
  <button class="home-button-pdf" (click)="downloadPDF()">📄 Download PDF</button>
</div>
<section class="container-guide" #pdfContent>
  <div class="content-wrap">
    <article>
      <p>
        Em Angular, evite expor diretamente arrays. Envolva listas em classes com comportamento próprio.
      </p>
      <h2>Exemplo no Angular</h2>
      <p>Evite:</p>
      <div class="code">
        <code>
          this.users: User[] = [];
        </code>
      </div>
      <p>Prefira:</p>
      <div class="code">
        <code>
          class UserList {{"{"}}<br>
          &nbsp;&nbsp;private users: User[] = [];<br>
          &nbsp;&nbsp;{{"add(user: User): void {...}"}}<br>
          &nbsp;&nbsp;{{"isEmpty(): boolean {...}"}}<br>
        {{ "}"}}
        </code>
      </div>
    </article>
  </div>
</section>

