
<header class="header">
  <h1>Single Responsibility Principle (SRP)</h1>
</header>
<div class="card right-align">
  <button class="home-button" routerLink="/">Go Back to Home</button>
  <button class="home-button-pdf" (click)="downloadPDF()">📄 Download PDF</button>
</div>

<section class="container-guide" #pdfContent>
  <div class="content-wrap">
        <h2>O que é o Princípio da Responsabilidade Única?</h2>
        <hr>
        <p>O SRP afirma que <b>classe deve ter um, e apenas um, motivo para mudar. Em outras palavras, ela deve ser responsável por apenas uma parte do funcionamento do sistema. </b><br>
            Isso facilita a manutenção, os testes, e a reutilização do código.
        </p>

        <h2>Exemplo com Violação do SRP</h2>
        <hr>
        <p>Veja esta classe que faz mais de uma coisa:</p>
        <h4>Classe com múltiplas responsabilidades</h4>

        <pre><code>
    class User &#123;
        saveUserToDatabase() &#123; ... &#125;
        validateEmail() &#123; ... &#125;
        sendWelcomeEmail() &#123; ... &#125;
    &#125;
        </code></pre>
        <p>Essa classe tem 3 responsabilidades: salvar no banco, validar email, e enviar email.</p>

        <h2>Aplicando o SRP</h2>
        <hr>
        <p>Agora veja como podemos separar essas responsabilidades:</p>
        <h4>Separação em classes especializadas</h4>
        <pre><code>
    class UserRepository &#123;
        save(user) &#123;  ... &#125;
    &#125;

    class EmailValidator &#123;
        isValid(email) &#123;  ... &#125;
    &#125;

    class EmailService &#123;
        sendWelcomeEmail(user) &#123;  ... &#125;
    &#125;
        </code></pre>
        <p>Agora cada classe tem uma responsabilidade única e clara.</p>

        <h2>Resumo Técnico</h2>
        <hr>
        <ul>
            <li>✅ SRP melhora a organização e a clareza do código.</li>
            <li>✅ Cada classe deve ter um motivo único para mudar.</li>
            <li>✅ Facilita manutenção, testes e reuso.</li>
        </ul>
    </div>
</section>
