<div class="login-card">
  <h2>Sign In</h2>
  <p>Please sign in to continue</p>

  <button (click)="clearFields()" class="clean-button">🧹 Clean Fields</button>


  <form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required #emailInput="ngModel"
      placeholder="Digite seu e-mail" />
    @if (emailInput.invalid && emailInput.touched) {
    <div class="error">
      ⚠️ E-mail é obrigatório.
    </div>
    }

    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required #passwordInput="ngModel"
      placeholder="Digite sua senha" />
    @if (passwordInput.invalid && passwordInput.touched) {
    <div class="error">
      ⚠️ Senha é obrigatória.
    </div>
    }

    <div class="button-group">
      <button type="button" (click)="goBack()" class="go-back">⬅️ Go Back</button>
      <button type="submit" [disabled]="signInForm.invalid" class="sign-in">🔐 Sign In</button>
    </div>

    <button type="button" class="google-btn">
      <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google" />
      Sign in with Google
    </button>
  </form>
</div>
