
<header class="header">
  <h1>Liskov Substitution Principle (LSP)</h1>
</header>
<div class="card right-align">
  <button class="home-button" routerLink="/">Go Back to Home</button>
  <button class="home-button-pdf" (click)="downloadPDF()">📄 Download PDF</button>
</div>

<section class="container-guide" #pdfContent>
  <div class="content-wrap">
        <h2>O que é o Liskov Substitution Principle?</h2>
        <hr>
        <p>O LSP afirma que <b>as subclasses devem poder ser usadas no lugar das superclasses sem alterar o comportamento esperado.</b><br>
            Isso mantém a consistência e a previsibilidade do sistema.
        </p>

        <h2>Exemplo violando o LSP</h2>
        <hr>
        <h4>Subclasse quebra o contrato</h4>
        <pre><code>
    class Ave &#123;
        voar() &#123; console.log("Voando"); &#125;
    &#125;

    class Pinguim extends Ave &#123;
        voar() &#123; throw new Error("Pinguins não voam"); &#125;
    &#125;
        </code></pre>
        <p>A substituição falha: o pinguim quebra o comportamento esperado da classe Ave.</p>

        <h2>Aplicando o LSP</h2>
        <hr>
        <h4>Separando comportamentos</h4>
        <pre><code>
    interface Ave &#123; andar(): void; &#125;
    interface AveQueVoa extends Ave &#123; voar(): void; &#125;

    class Andorinha implements AveQueVoa &#123;
        andar() &#123; ... &#125;
        voar() &#123; ... &#125;
    &#125;

    class Pinguim implements Ave &#123;
        andar() &#123; ... &#125;
    &#125;
        </code></pre>
        <p>Agora cada ave implementa apenas o que realmente faz.</p>

        <h2>Resumo Técnico</h2>
        <hr>
        <ul>
            <li>✅ Substituições devem ser seguras e previsíveis.</li>
            <li>✅ Evita comportamentos inesperados ou erros em tempo de execução.</li>
            <li>✅ Promove o design baseado em contratos claros.</li>
        </ul>

</div>
</section>
