<div class="container">
  <h1>Angular Level 02 </h1>
  <section class="topic">
    <h2>Js Tools and Operators</h2>


  </section>
  <section class="topic">
    <h2>Binding & Types</h2>
    <app-binding-types></app-binding-types>
  </section>

  <section class="topic">
    <h2>Destructuring </h2>
    <app-destructuring></app-destructuring>
  </section>

  <section class="topic">
    <h2>Directives</h2>
    <app-directives></app-directives>
  </section>

  <section class="topic">
    <h2>Pipes</h2>
    <app-pipes></app-pipes>
  </section>

  <section class="topic">
    <h2>Spread</h2>
    <app-spread></app-spread>
  </section>

  <section class="topic">
    <h2>Template Literal</h2>
    <app-template-literal></app-template-literal>
  </section>


  <section class="topic">
    <h2></h2>
  </section>
  <section class="topic">
    <h2></h2>
  </section>
  <section class="topic">
    <h2></h2>
  </section>
</div>
