<div class="header">
  <h1>Angular Class Level 02</h1>
  <p class="subtitle">
    {{"How to Use JS Operators in Angular: Fundamentals." | upcaseFirstWord}}
  </p>
</div>

<div class="card right-align">
  <button class="home-button" routerLink="/">Go Back to Home</button>
</div>
<section class="container-guide">
  <div class="content-wrap">
  <section class="topic">
      <h2>Js Operators & Tools</h2>
  </section>
  <article>
    <section class="topic">
      <h2>Binding & Types In Angular</h2>
      <app-binding-types></app-binding-types>
    </section>

    <section class="topic">
      <h2>Destructuring In Angular</h2>
      <app-destructuring></app-destructuring>
    </section>

    <section class="topic">
      <h2>Directives In Angular</h2>
      <app-directives></app-directives>
    </section>

    <section class="topic">
      <h2>Pipes In Angular</h2>
      <app-pipes></app-pipes>
    </section>

    <section class="topic">
      <h2>Spread In Angular</h2>
      <app-spread></app-spread>
    </section>

    <section class="topic">
      <h2>Template Literal In Angular</h2>
      <app-template-literal></app-template-literal>
    </section>

    <!--
      <section class="topic">
        <h2></h2>
      </section>
      <section class="topic">
        <h2></h2>
      </section>
      <section class="topic">
        <h2></h2>
      </section> -->

  </article>
  </div>
</section>
