.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.styled-button {
  background: var(--primary-doc-color);
  color: var(--text-color-light);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  box-shadow: var(--shadow);
  transition: var(--transition);
  cursor: pointer;
}

.styled-button:hover {
  background: var(--secondary-doc-color);
  box-shadow: var(--shadow-hover);
  color: var(--text-hover);
}
